<!DOCTYPE html>
<html lang="en" ng-app="planApp">
<head>
    <meta charset="UTF-8">
    <title>Planning Portal Document Viewer</title>

    <link rel= "shortcut icon" href="{{ url_for('static', filename = 'images/favicon.ico') }}">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename = 'css/roboto-fonts.css') }}">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename = 'css/angular-material-1.1.0.min.css') }}">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename = 'css/material-icons.css') }}">

    <style>
        .reference {
            display: inline;
        }

        .fill {
            flex: 2;
            background-color: rgba(82,86,89,1);
        }

        .pdf {
            position: relative;
            width: 100%;
            height: 99.6%;
        }

        .dropdown md-sidenav.md-locked-open {
            width: 250px;
            min-width: 250px;
            max-width: 250px;
        }

        md-toast.md-center {
            left: 50%;
            transform: translate3d(-50%, 0, 0);
        }

        .appSelect md-select-menu {
            margin-right: 8px;
        }

        .appSelect span {
            color: rgba(255,255,255,1) !important;
            border-color: rgba(255,255,255,0.3) !important;
        }

        #select_value_label_0 {
            color: rgba(255,255,1) !important;
            border-color: rgba(255,255,255,0.3) !important;
        }

        md-select-value.md-select-placeholder {
            color: rgba(255,255,255,0.5) !important;
            border-color: rgba(255,255,255,0.3) !important;
        }

        md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value {
            color: rgba(255,255,255,0.5) !important;
        }
    </style>
</head>

<body ng-controller="mainCtrl as ctrl" style="overflow-y: hidden;">
    <div layout="column" md-theme="default" md-theme-watch="true" ng-cloak layout-fill>
        <!--HEADER-->
        <md-toolbar layout="row" class="md-primary md-toolbar-tools" style="height: 45px; min-height: 45px; max-height:45px;">
            <h3 style="padding-left: 10px">Planning Portal Document Viewer</h3>
            <span flex></span>
            <md-menu md-position-mode="target-right bottom">
                <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon>settings</md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item ng-repeat = "item in ['Send feedback or report a bug']">
                        <md-button ng-click = "ctrl.menuItemClick($index)">
                            <div layout = "row">
                                <p flex>{{ '{{ item }}' }}</p>
                            </div>
                        </md-button>
                    </md-meu-item>
                </md-menu-content>
            </md-menu>
        </md-toolbar>
        <section layout="row" flex>


            <!--DOCUMENT/APPLICATION SELECTION-->
            <md-sidenav md-disable-backdrop md-whiteframe="10" md-is-locked-open="true">
                <md-toolbar layout="row" class="md-primary md-hue-1">
                    <div class="md-toolbar-tools" ng-hide="showDocumentTypes">
                        <span style="padding-left: 10px">Select a Planning Portal application:</span>
                    </div>
                    <div class="md-toolbar-tools" ng-show="showDocumentTypes">
                        <span style="padding-left: 10px">Select a document type:</span>
                    </div>
                </md-toolbar>
                <form class="select-application-number" ng-hide="showDocumentTypes">
                    <md-content>
                        <md-list flex ng-model="data.applications" style="padding-top: 0px; padding-bottom: 0px;">
                            <md-list-item class="md-3-line" ng-repeat="num in appNums" ng-click="select(num.id)">
                                <div class="md-list-item-text">
                                    <md-icon style="float: left;">folder_open</md-icon>
                                    <span style="position: absolute; margin-top: 3px;">
                                        <h3 style="float: left;">&nbsp;&nbsp;&nbsp;{{ '{{num.id}}' }}</h3>
                                    </span>
                                    <md-icon style="float: right;">chevron_right</md-icon>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </form>
                <form class="select-document-type" ng-show="showDocumentTypes">
                    <md-content>
                        <md-list flex ng-model="docs.docuTypes" style="padding-top: 0px; padding-bottom: 0px;">
                            <md-list-item class="md-3-line" ng-repeat="docu in docuData" ng-click="submit(docu.value)">
                                <div class="md-list-item-text">
                                    <md-icon style="float: left;">description</md-icon>
                                    <span style="position: absolute; margin-top: 3px;">
                                        <h3 style="float: left;">&nbsp;&nbsp;&nbsp;{{ '{{docu.value}}' }}</h3>
                                    </span>
                                    <md-icon style="float: right;">chevron_right</md-icon>
                                </div>
                                <md-divider></md-divider>
                            </md-list-item>
                            <md-list-item class="md-2-line" ng-hide="pdfIndex == 0" ng-click="back()">
                                <div class="md-list-item-text">
                                    <md-icon style="float-right;">chevron_left</md-icon>
                                    <span style="position: absolute; margin-top: 10px;">
                                        <h3>&nbsp;&nbsp;&nbsp;Back</h3>
                                    </span>
                                </div>
                                <md-divider></md-divider>
                        </md-list>
                    </md-content>
                </form>
                <!--
                <form class="select-document-type" ng-show="showDocumentTypes">
                    <p>Select a document type:</p>
                    <md-radio-group ng-model="data.docuTypes">
                        <md-radio-button ng-repeat="docu in docuData" ng-value="docu.value">{{ '{{docu.value}}' }}</md-radio-button>
                    </md-radio-group>
                    <p>Selected Value: <span class="radioValue"><b>{{ '{{data.docuTypes}}' }}</b></span></p>
                    <md-button ng-click="back()" ng-disabled="pdfIndex == 0" class="md-primary md-hue-1 md-raised">Back</md-button>
                    <md-button ng-click="submit(data.docuTypes)" ng-disabled="!data.docuTypes" class="md-primary md-hue-1 md-raised">Submit</md-button>
                </form>
                -->
            </md-sidenav>
            <div layout="column" flex>


                <!--APPLICATION INFO BAR-->
                <md-toolbar layout="row" class="md-primary md-hue-1" style="overflow-y: hidden;">
                    <div class="md-toolbar-tools">
                        <div style="padding-left: 20px;">
                            Application: <b><div class="reference" ng-bind-html="referenceSearch"></div></b>
                        </div>
                    </div>
                </md-toolbar>


                <!--DOCUMENT INFO BAR-->
                <md-content md-whiteframe="4">
                    <md-toolbar layout="row" class="md-primary md-hue-2" style="overflow-y: hidden;">
                        <div class="md-toolbar-tools">
                            <h1 style="padding-left: 20px" ng-hide="showDocumentName">Documents:</b></h1>
                            <h1 style="padding-left: 20px" ng-show="showDocumentName">Documents: <b>{{ '{{trustSrc(pdfs[pdfIndex].name)}}' }}</b></h1>
                            <span flex></span>
                        </div>
                    </md-toolbar>
                </md-content>


                <!--PROGRESS BAR-->
                <md-content>
                    <md-progress-linear md-mode="determinate" value="{{ '{{determinateValue}}' }}"></md-progresslinear>
                </md-content>


                <!--PDF VIEWER-->
                <div class="fill">
                    <iframe src="about:blank" frameborder="0" ng-hide="showDocumentFrame"></iframe>
                    <iframe class="pdf" ng-src="{{ '{{trustSrc(pdfs[pdfIndex].path)}}' }}" frameborder="0" ng-show="showDocumentFrame"></iframe>
                </div>
            </div>
        </section>
    </div>


    <!--EMAIL DIALOGUE-->
    <script type="text/ng-template" id="dialog.tmpl.html">
        <md-dialog aria-label="Send Message" style="width:800px; padding: 5px;" id="toast-container">
            <form name="message-form">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Send a Message</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <md-icon>close</md-icon>
                        </md-button>
                    </div>
                </md-toolbar>


                <!--FORM FIELDS-->
                <md-dialog-content class="md-no-momentum"  style="padding-top: 25px">
                    <md-input-container class="md-block">
                        <md-icon>person</md-icon>
                        <input name="name" ng-model="message.name" type="text" placeholder="Name (required)" ng-required="true">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <md-icon>email</md-icon>
                        <input name="email" ng-model="message.email" type="text" placeholder="Email">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <md-icon>message</md-icon>
                        <textarea name="message" ng-model="message.message" type="text" placeholder="Message (required)" md-maxlength="300" ng-required="true" rows="5"></textarea>
                    </md-input-container>
                </md-dialog-content>


                <!--FORM BUTTONS-->
                <md-dialog-actions layout="row">
                    <md-button ng-click="cancel()" class="md-primary md-hue-1 md-raised">
                        Cancel
                    </md-button>
                    <span flex></span>
                    <md-button ng-click="sendMessage(message.name, message.email, message.message)" class="md-primary md-hue-1 md-raised" style="margin-right: 20px">
                        Submit
                    </md-button>
                </md-dialog-actions>
            </form>
        </md-dialog>
    </script>

    <script src="{{ url_for('static', filename = 'js/angular-1.5.5.js') }}"></script>

    <script src="{{ url_for('static', filename = 'js/angular-animate-1.5.5.js') }}"></script>

    <script src="{{ url_for('static', filename = 'js/angular-aria-1.5.5.js') }}"></script>

    <script src="{{ url_for('static', filename = 'js/angular-messages-1.5.5.js') }}"></script>

    <script src="{{ url_for('static', filename = 'js/angular-sanitize-1.5.5.js') }}"></script>

    <script src="{{ url_for('static', filename = 'js/angular-material-1.1.0.js') }}"></script>

    <script type="text/javascript">
        (function() {
            var app = angular.module("planApp",["ngMaterial", "ngMessages", "ngSanitize"]);
            app.controller("mainCtrl", mainCtrl);
            // Sets the theme colours
            app.config(function($mdThemingProvider) {
                $mdThemingProvider.theme("default")
                    .primaryPalette("green", {
                        "default": "900",
                        "hue-1": "800",
                        "hue-2": "600"
                    })
                    .accentPalette("green", {
                        "default": "300"
                    })
                    .warnPalette("amber", {
                        "default": "400"
                    });
                $mdThemingProvider.alwaysWatchTheme(true);
            })

            // Main controller function, covers all page elements
            function mainCtrl($scope, $sce, $mdDialog, $mdMedia, $http) {
                /* * * * * * * * * * * * *
                 * APPLICATION SELECTION *
                 * * * * * * * * * * * * */
                // Shows the applications instead of the documents when first loading
                $scope.showDocumentTypes = false;
                // Leave the documents menu bar blank
                $scope.showDocumentName = false;
                // Hide the iframe
                $scope.showDocumentFrame = false;

                // Loads the list of applications
                $scope.appNums = "{{ references|safe }}"
                    .split(', ').map(function(app) { return { id:app }; });

                // Handles the selection of an application
                $scope.select = function(selectedApp) {
                    // Redirects to a variable URL of the ID and performs a GET
                    var route = `/${selectedApp}`;
                    $http.get(route)
                    // Response data contains a JSON array of the associated documents
                        .then(function(response) {
                        // Sets the value on the menu bar to equal the reference
                        $scope.referenceSearch = selectedApp
                        // Updates the iframe with the documents
                        refreshDisplay(response.data);
                        });
                    // Shows the document types instead of the applications
                    $scope.showDocumentTypes = true;
                    // Start filling in the documents menu bar
                    $scope.showDocumentName = true;
                    // Load the iframe
                    $scope.showDocumentFrame = true;
                }



                /* * * * * * * * * * * * * *
                 * DOCUMENT TYPE SELECTION *
                 * * * * * * * * * * * * * */
                // Sets the potential document type values
                $scope.docuData = [{
                    value: "1APP"
                }, {
                    value: "PLANAPP"
                }, {
                    value: "FEEINFO"
                }, {
                    value: "SUMMARY"
                }, {
                    value: "PORTAL"
                }];
                var submittedTypes = [{}];

                // Submit button for each document
                $scope.submit = function(submitType) {
                    console.log(submitType);
                    if ($scope.pdfIndex == ($scope.pdfCount - 1)) {
                        //TODO: functionality for when max is reached: go back to landing page and submit all JSON
                        // Reset any values back to their defaults when first loading the page
                        $scope.showDocumentTypes = false;
                        $scope.showDocumentName = false;
                        $scope.showDocumentFrame = false;
                        $scope.determinateValue = 0;
                        $scope.pdfIndex = 0;
                        $scope.pdfs = [{}];
                        $scope.referenceSearch = "";
                        $http.get('/')
                    }
                    else {
                        //TODO: build JSON for each document
                        $scope.pdfIndex++;
                        $scope.determinateValue += (100 / ($scope.pdfCount - 1));
                    }
                }

                // Back button for each document
                $scope.back = function() {
                    $scope.pdfIndex--;
                    $scope.determinateValue -= (100 / ($scope.pdfCount - 1));
                    //TODO: remove JSON addition from application we just went back to
                }



                /* * * * * * * * * * *
                 * DOCUMENT DISPLAY  *
                 * * * * * * * * * * */
                // Handles the progress bar
                $scope.determinateValue = 0;
                // Indexes JSON array
                $scope.pdfIndex = 0;
                // Amount of PDFs associated with an application
                $scope.pdfCount = 0;
                // JSON array of name:url pairs for PDFs
                $scope.pdfs = [{}];

                // Loads the new set of documents
                function refreshDisplay(json_array) {
                    $scope.pdfs = json_array;
                    $scope.pdfCount = $scope.pdfs.length;
                }

                // Lets Angular know the PDFs are a trusted resource so they can be loaded
                $scope.trustSrc = function(src) {
                    return $sce.trustAsResourceUrl(src);
                }



                /* * * * * * * * *
                 * SETTINGS MENU *
                 * * * * * * * * */
                var originatorEv;

                // Settings menu dialogue options
                this.menuItemClick = function(index) {
                    if (index == 0) {
                        // Open message dialogue
                        (function(ev) {
                            $mdDialog.show({
                                controller: dialogCtrl,
                                templateUrl: "dialog.tmpl.html",
                                parent: angular.element(document.body),
                                targetEvent: ev,
                                clickOutsideToClose: false
                            })
                        })();
                    }
                    originatorEv = null;
                }
            }

            // Message dialogue controller
            function dialogCtrl($scope, $mdDialog, $mdToast, $http) {
                // Object representing a message
                $scope.message = {
                    name: '',
                    email: '',
                    message: ''
                }

                // Closes message dialogue
                $scope.cancel = function() {
                    $mdDialog.cancel();
                }

                // Sends message
                $scope.sendMessage = function(name, email, message) {
                    // Shows popup if some fields aren't filled in
                    if (name.length == 0 || message.length == 0) {
                        $mdToast.show(
                            $mdToast.simple({
                                textContent: 'Please fill in the required fields',
                                parent: '#toast-container',
                                position: 'bottom center',
                                hideDelay: 3000
                            })
                        );
                    } else {
                        // Set the data values
                        var data = {
                            name: name,
                            email: email,
                            message: message
                        };
                        console.log(data);
                        $http.post("/message", {name: name, email: email, message: message});
                    }
                }
            }
        })();
    </script>
</body>
</html>
